* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  margin: 0;
  min-height: 100vh;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #34495e;
  text-decoration: none;
}

.logo {
  margin-left: 80px;
  font-size: 1.45em;
}

.main-nav {
  margin-top: 5px;
  margin-right: 120px;
}
.logo a,
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
  color: #ffffff;
}

.main-nav a {
  color: #ffffff;
  font-size: 0.92em;
  font-weight: bolder;
}

.main-nav a:hover {
  color: #f48c06;
}

.header {
  padding-top: 0.1em;

  border: 1px solid #a2a2a2;
  /* background-color: #2A0944; */
  background-color: #7209b7;
  /* background-color: #ffffff; */
  /* -webkit-box-shadow: 0px 0px 11px 0px rgba(97, 97, 97, 0.75);
  -moz-box-shadow: 0px 0px 11px 0px rgba(70, 70, 70, 0.75);
  box-shadow: 0px 0px 11px 0px rgba(75, 75, 75, 0.75);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; */
}

@media (min-width: 769px) {
  .header,
  .main-nav {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: center;
    .header {
      width: 80%;
      margin: 0 auto;
      max-width: 1150px;
    }
  }
}

@media (min-width: 1025px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
}
